<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Todo List </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand font-bold" href="/"> My Todo List </a>
    </nav>

    <main class="p-4">
        <a href="/" type="button" class="">
            < Back to Tasks </a>
                <div class="pt-2">
                    Task Details (ID: {{ task.id }})
                </div>
                <hr>

                <div>
                    <button class="btn btn-primary btn-sm"> Edit </button>
                    <button class="btn btn-success btn-sm"> Mark as Done </button>
                    <button class="btn btn-danger btn-sm"> Delete </button>
                </div>
                <hr>
                <div class="col-sm-12 col-md-6 col-lg-3 card">
                    <div class="card-body">
                        <h4 class="card-title"> {{ task.title }} </h4>
                        <p class="card-text"> {{ task.description }} </p>
                        <p class="text-muted"> {{ task.duedate }} </p>
                        <div class="">
                            <span class="badge badge-pill badge-primary"> {{ task.priority }} </span>
                            <span class="badge badge-pill badge-success"> {{ task.status }} </span>
                        </div>
                    </div>
                </div>

    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>

</html>