<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title> Add blog page </title>
</head>

<body style="background-color: #f5f5f5;">
    <nav class="navbar navbar-dark bg-success">
        <a class="navbar-brand" href="/blog"> Refactory Blog </a>
        <a href="/blog/add" class="text-dark"> Add Article </a>
    </nav>

    <div class="p-4">
        <div class="row">
            {% for blog in all_blogs %}
                <div class="col-lg-3 col-md-6 col-sm-12 p-2">
                    <div class="card">
                        <div style="height: 200px;width: 100%; background-repeat: no-repeat;">
                            <img class="h-100 bg-cover w-100" src="{{ blog.image }}" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title"> {{ blog.title }}</h4>
                            <span class="badge badge-secondary"> {{ blog.author }} </span>
                            <p class="card-text text-muted fs-1">
                                {{ blog.excerpt }}
                            </p>
                            <a href="/blog/view/{{ blog.link }}" class="btn btn-primary btn-sm rounded-lg shadow"> Read Article </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>

</html>